*{
    margin: 0;
    box-sizing: border-box;
}

body{
    background-image: url(https://res.cloudinary.com/isongjosiah/image/upload/v1568843709/Team%20Earth%202.0/Earth_background_of3xwh.jpg);
    background-position: center;
}
section{
    text-align: center;
    margin-top: 150px;
    color: #ffffff;
}
section>img{
    margin-bottom: 50px;
}